/* LogiXpress â€” Angular styles.css minimal
   Tous les CSS du template sont dans index.html */
*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { margin: 0; overflow-x: hidden; }
